/* edit modal */
.modal {
    position: absolute;
    z-index: 10000;
    top: 0%;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}
.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 6em;
    left: 50%;
    width: 32em;
    margin-left: -16em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsl(0deg 0% 0% / 35%);
}
.modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsl(0deg 0% 0% / 6%);
    border-bottom: 1px solid #e8e8e8;
}
.modal-header, .modal-content {
    padding: 1em;
}

#modal-edit .modal-content:hover{
    box-shadow: 0px 0px 0px transparent;
    border-radius: 0rem;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #aaa;
    background: none;
    border: 0;
}
.modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.modal-content > *:first-child {
    margin-top: 0;
}
.modal-content > *:last-child {
    margin-bottom: 0;
}
.modal.is-visible {
    visibility: visible;
}
.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}


.spin_wheel_settings_numberofsegments{
    margin-bottom: 15px;
}
.spin_wheel_settings_numberofsegments label{
    text-align: left;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}

#numberofsegments,#outerradius,#innerradius,#textfontsize,#textmargin,#gameovertext,
#introtext,
#countdowntime,
#wheelstrokewidth,
#segmenttext,
#txtdisplaytext,
#txtbackgroundcolor,
#position,
#desktopintervaltext,
#mobileintervaltext,
#cookiedays,
#ddlgravity,
#hdngravityperc,
#couponcode{
    width: 20%;
}
#whitestrokecolor,#whitetextcolor,#segmentcolor,#txtbackgroundcolor{
    width: 100%;;
}

.table-wrapper {
    width: 1300px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
    line-height: 1.2;
}

b, strong {
    font-weight: bolder;
}

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered th {
    border: 1px solid #dee2e6;
    padding: 8px 8px;
    font-size: 17px;
    font-weight: 600;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
table.table {
    table-layout: fixed;
}
table {
    border-collapse: collapse;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
    font-size: 1rem;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}

.text-danger {
    font-weight: 600;
    line-height: 36px;
    font-size: 14px;
    color: #a94442;
}

.pip {
    display: inline-block;
    margin: 10px 0px 0 0;    
}

.remove{
    margin-left: 25px;
    cursor: pointer;
}
.gallery-thumbs.filename{
    margin-left: 11.4%;
}
.bgMaindiv{
    height: auto!important;
}