.container{

	max-width: 1440px;

	width: 100%;

	min-width: 1440px;

}

.navbar{

	padding-top: 1.9rem !important;

    padding-bottom: 1.9rem!important;

    border-bottom: 1px solid #000;

}

.navbar-nav-wrap{

	display: flex;

	flex-wrap: wrap;

	flex-basis: 100%;

	align-items: center;

}

.navbar-expand-lg .navbar-collapse{

	width: auto;

	order: 2;

	display: flex!important;

	flex-basis:auto;

}

.navbar-collapse{

	align-items: flex-start;

}

.navbar-expand-lg.navbar-right .navbar-nav{

	justify-content: flex-end;

    margin-left: auto;

}

#landingsMegaMenu{

	font-size: 20px;

	font-weight: 400;

	color: #000;

}

.bi-person-circle::before {

    content: "\f4d7";

}

.align-items-lg-center{

	align-items: center !important;

}

.col-md-8.background-first{

background-color: #f9f9f9;

height: 379px;

}

.container.content-space-2{

	margin-top: 134px;

}

.display-3.text-black{

	font-size: 35px;

	padding: 50px;

	font-weight: 300;

}

.lead.text-black-701{

	padding-left:50px;

	padding-right: 50px;

	font-weight: 400;

	font-size: 18px;

	text-decoration: underline;

}

.lead.text-black-70{

	padding-left:50px;

	padding-right: 50px;

	font-weight: 400;

	font-size: 18px;

}

.display-3.text-black.mb-3.mb-md-5{

	margin-bottom: 0px !important;

}

.col-md-8.background-second{

    background-color: #eeeeee;

    height: 379px;

}

.sidebar-background-second{

	
    z-index: 99999;
    
    height: auto; 

    width: 80px;

    position: -webkit-sticky;

    /* position: sticky;

    top: 0px;

    float: right; */

    position: absolute;

    top: 30%;

    right: 0%;

    margin-top: 50px;

    /* margin-top: 100px; */

    padding: 20px 0;

    background-color: #c4c4c4;

    border-radius: 20px 0px 0px 20px;

}

.sidebar-background-second span{

	word-break: normal;

    font-size: 19px;

    font-weight: 800;

    display: table-caption;

    text-align: center;

    justify-content: center;

    padding-left: 20px;

    cursor: pointer;



}

.display-3-3.text-black{

	text-align: center;

	justify-content: center;

}

.display-3-3.text-black.mb-3.mb-md-5{

	margin-bottom: 0px !important;

}





.modal-content {

    border-radius: 1rem

}



.modal-content:hover {

    box-shadow: 2px 2px 2px black

}



.b1 {

    background-color: #2b84be;

    box-shadow: 0px 4px #337095;

    font-size: 17px

}



#form .r3 {

    color: #c1c1c1;

    font-weight: 500

}

#form .modal-dialog{

	margin: 0px;

	float: right;

	max-width: 201px;

}

#form .text-center.mb-3.text-button a{

font-weight: 600;

font-size: 25px !important;

color: #fff;

}

#form .text-center.mb-3.text-button a{

	text-decoration: none;

}

#form .modal-content{

	background-color:#1d3557;

    width: auto;

}



#reach-you-form-Modal .modal-content,

/* #reach-you-wheel-Modal .modal-content, */

#wgp-game-form .modal-content,

#level-Modal-Leaderdashboard .modal-content{

    width: 100% !important;

}



#wgp-wh4.show-registration .modal-content{

    width: 30%;

}



#wgp-wh4 .modal-dialog{

    max-width: 100% !important;

}



.swal2-container.swal2-center.swal2-backdrop-show{

    z-index: 9999999;

}



#form .image{

	text-align: center;

}

#text-upper.reach-text .upper-text{

    text-align: center;

    font-size: 24px;

    color: #000;

    font-weight: 600;

}

#text-upper.reach-text .upper-text:hover{

	text-decoration: none;

}

.bottom-text{

text-align: center;

}

#register-form.register-text{

    font-size: 24px;

    font-weight: 600;

    color: #1b5bba;   

}

#register-form.register-text:hover{

	text-decoration: none;

}

#reach-you-form-Modal .modal-header{

	border-bottom: 0px;

	border-bottom-right-radius: .1rem;

    border-bottom-left-radius: .1rem;

}

#spin .close:after{
    background: #aeaeae !important;
    color: #000;
    border-radius: 90%;
    height: 25px;
    width: 30px;
}

#reach-you-wheel-Modal .spin_speed_select_section{
    padding: 0px !important;
}
#reach-you-wheel-Modal .spin_pin{
    top: -38px !important;
}

#reach-you-wheel-Modal .modal-content{
    padding: 27px 0px 0px 0px !important;
}
#reach-you-form-Modal .modal-footer{

	border-top: 0px;

	border-bottom-right-radius: .1rem;

    border-bottom-left-radius: .1rem;

    padding: 1.5rem;

}

#register-form-Modal .form-register{

	padding-top: 30px;

	padding-left: 15px;

    padding-right: 15px;

}

.form-register .form-control{

    background-color: #e3ebe9 !important;

}

#register-form-Modal .button-form{

	text-align: center;

	padding-top: 20px;

}

#register-form-Modal .button-form .btn{

	padding: 0.4rem 2.9em;

}

#register-form-Modal .button-form .btn-primary{

	background-color: #1d3557;

    border-color: #1d3557;

}

#register-form-Modal .modal-footer{

	border-top: 0px;

}

#register-form-Modal .modal-header{

    border-bottom: 0px;

}

#wheel-Modal .wheel-image{

	text-align: center;

}

#wheel-Modal .modal-footer{

	border-top: 0px;

}

#wheel-Modal .modal-header{

	border-bottom: 0px;

}

#reward-Modal .reward-button{

	text-align: right;

	padding-top: 30px;

    padding-right: 20px;

}

#reward-Modal .reward-button .btn{

	width: 228px;

	height: 51px;

	border-radius: 12px;

}

#reward-Modal .reward-button .btn-primary{

	background-color: #1d3557;

    border-color: #1d3557;

    font-size: 20px;

    font-weight: 700;

}

#reward-Modal .modal-header{

	border-bottom: 0px;

}

#reward-Modal .modal-footer{

	border-top: 0px;

}

#coupon-Modal .coupon-image{

    text-align: center;

    padding-bottom: 30px;

}

#coupon-Modal .under-text{

    text-align: center;

    font-size: 16px;

    font-weight: 400;

    color: #000;

}

#coupon-Modal .under-text2{

    text-align: center;

    font-size: 20px;

    font-weight: 500;

    color: #000;

}

#coupon-Modal .title-text{

    text-align: center;

    font-size: 25px;

    font-weight: 500;

    color: #000;

    padding-bottom: 20px;

}

#coupon-Modal .modal-header{

    border-bottom: 0px;

}

#coupon-Modal .modal-footer{

	border-top: 0px;

}

#earn-points-Modal .reward-button .btn-primary {

    background-color: #1d3557;

    border-color: #1d3557;

    font-size: 20px;

    font-weight: 700;

}

#earn-points-Modal .reward-button .btn {

    width: 320px;

    height: 60px;

    border-radius: 12px;

}

#earn-points-Modal .reward-button {

    text-align: center;

    padding-top: 30px;

    padding-right: 20px;

}

#earn-points-Modal .modal-header{

    border-bottom: 0px;

}

#earn-points-Modal .modal-footer{

	border-top: 0px;

}



#wgp-game-form input[type=text],

input[type=password]{

    border:1px solid #e3ebe9 !important;

    border-radius: 5px !important;

    padding: 8px !important;

    margin-bottom: 20px!important; 

    margin-left: 0 !important;

}



#wgp-game-form .button-form{

    margin: 0px auto;

    text-align: center;

}



#wgp-game-form .btn-submit{

    width: 142px;

    background-color: #1d3557;

    border-color: #1d3557;

    line-height: 2px;

    height: 47px;

    border-radius: 5px;

}



#wgp-game-form #text-upper.reach-text .upper-text{

    margin-bottom: 20px;

}



#text-upper.reach-text .register-text.upper-text{

    color: #1b5bba;

}



#reach-you-form-Modal .modal-footer{

    text-align: center;

    display: inline-block;

    padding-top: 0;

}

.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {

    background: rgba(0, 0, 0, 0)!important;

    color: #000!important;

}   

/* custom popup */

/* Popup Open button */ 







.dashboard-bg{

    background-image: url('../images/dashboard-bg.jpg');

}

.leader-title{

    color: #fff;

    font-weight: 700;

    font-size:40px;

    text-align: center;

    justify-content: center;

    padding-top: 20px;

    padding-bottom: 20px;

}

.client-image img{

    width: 100%;

}

.medal-image .points span{

    font-weight: 700;

    font-size: 18px;

    color: #000;

    

}

.medal-image .points{

    padding-top: 16px;

}

.profile-main{

    margin-right: 250px;

    margin-left: 250px;

    padding-bottom: 50px;

}

.profile-box.card{

    border: 2px solid #ff28f6;

    border-radius: 6px;

    background-color: #f1faee;

}

.profile-person img{

    float: right;

}

.text-pts{

    padding-top: 15px;

    font-weight: 700;

    font-size: 18px;

}

.description .card-title{

    text-align: center;

    font-size: 21px;

    font-weight: 700;

    color: #1d3557;

    margin-bottom: 0px;

}

.description2 .card-title{

     text-align: center;

    font-size: 18px;

    font-weight: 500;

    color: #457b9d;

    margin-bottom: 0px;

}

.achieve-front-text{

    padding-top: 13px;

    padding-bottom: 11px;

}

.text-achieve{

    font-size: 10px;

    font-weight: 700;

}

.circle-num span{

    font-size: 18px;

    font-weight: 700;

    border: 2px solid #468bec;

    border-radius: 50px;

    padding-top: 20px;

    padding: 1px 10px 4px 8px;

    color: #002a65;

}

.circle-height{

    line-height: 50px;

}

.botoom-profile-person span{

    font-size: 18px;

    font-weight: 600;

    padding-left: 20px;

    color: #1d3557;

}

.botoom-pts span{

     font-size: 18px;

    font-weight: 600;

    color: #1d3557;

    line-height: 55px;

}

.botoom-face span{

    font-size: 18px;

    font-weight: 600;

    color: #457b9d;

    line-height: 55px;

}

.botoom-award{

    line-height: 53px;

}

.profile-box2.card{

    border-radius: 6px;

    background-color: #f1faee;

}



button.close {

    padding: 0;

    cursor: pointer;

    background: transparent;

    border: 0;

    -webkit-appearance: none;

}



#form.modal{

    background-color:unset ;

    overflow: unset;

    z-index: 99999;

}

.modal-backdrop.show{

    opacity: .1;

}



#form .btn-close{

    margin-top: -5px;

    margin-left: -10px;

    display: inherit;

    opacity: 1;

    background-color: transparent;

}



#reach-you-form-Modal .modal-dialog,

#reach-you-wheel-Modal .modal-dialog {

    max-width: 50%!important;

}

#reach-you-form-Modal.reach-you-form-Modal .modal-dialog {

    max-width: 550px!important;

}



#coupon-Modal .modal-content,

#earn-points-Modal .modal-content,

#level-Modal-cong .modal-content,

#points-Modal-earn .modal-content{

    width: 100%;

}

#text-upper .close,

#text-upper-earn-point .close,

#text-upper-congrutes .close,

#text-upper-earned .close,

#text-upperLeaderBoard .close{

    color: #000;

    position: absolute;

    right: 0px;

    top: -15px;

}

#level-Modal-cong .level-image.card {

    background-color: #fff;

    text-align: center;

    border-radius: 18px;

    box-shadow: 0px 7px 15px #1546ce, #1f6fff 0px 11px 18px inset;

    border: 6px solid #f4f3f3;

}

#level-Modal-cong .level-image.card .reward-image-congrutes {

    padding-top: 25px;

}



#level-Modal-cong .congrats-text {

    font-size: 25px;

    font-weight: 700;

    color: #1d3557;

}



#level-Modal-cong .congrats-bottom-text {

    font-weight: 500;

}

#level-Modal-cong .arrow-icon i {

    font-size: 25px;

    color: #bb41ff;

}



#level-Modal-cong .level-bottom-text {

    color: #457b9d;

    font-size: 16px;

    font-weight: 600;

}



#level-Modal-cong .progress-bottom-text {

    color: #1d3557;

    font-size: 16px;

    font-weight: 600;

    text-decoration: underline;

    padding-top: 15px;

    padding-bottom: 15px;

    cursor: pointer;

}



#level-Modal-cong .comeback-bottom-text {

    color: #1d3557;

    font-size: 16px;

    font-weight: 600;

    padding-bottom: 35px;

}





#points-Modal-earn .level-image {

    text-align: center;

}



#points-Modal-earn .person-text {

    font-size: 30px;

    font-weight: 700;

    color: #000;

}

#points-Modal-earn .person-bottom-text {

    font-size: 25px;

    font-weight: 600;

    color: #000;

}



#points-Modal-earn .my-level-text {

    font-size: 18px;

}

.my-level-text {

    padding-top: 25px;

    padding-left: 25px;

    padding-right: 25px;

}

.level-text {

    font-size: 14px;

    font-weight: 500;

}



.points-main-text {

    padding-top: 15px;

}

.points-button {

    padding-top: 20px;

}





.coupon-c-codes {

    border-radius: 12px;

    background-image: url(../images/coupon-bk.png);

    width: 300px;

    height: 114px;

    background-repeat: no-repeat;

    margin: 0px auto;

    padding-top: 8px!important;

    margin-bottom: 20px;

}



.coupon-c-codes h6{

    color:#7800bc;

    font-weight: 600;

}



.coupon-c-codes h6.color-100{

    color:#003277;

    margin-bottom: 5px;

}



.coupon-c-codes .enjoy-margin-left{

    margin-left: 5px;

}



.coupon-c-codes .text-black-50{

    color: #00122a!important;

    font-size: 9px;

    text-align: left;

}

.coupon-c-codes .users_count{

    font-size: 10px;

}

.coupon-c-codes .card-cont{

    display: table-cell;

    padding: 0px 0px 0px 30px;

    text-align: left;

    float: left;

}



.coupon-c-codes a:hover{
    color:#003277 !important;
}
.coupon-c-codes a{

    width: 77px;

    height: 60px;

    float: left;

    padding: 17px 0px 0px 0px;

    font-size: 10px;

    border: 1px solid #003277;

    border-radius: 100%;

    background: #d991ff;

    text-align: center;

    color:#003277;

    margin-top: 20px;

    margin-left: 9px;

    text-decoration: none;



}



.hidden{

    display: none;

}



.copycode:focus{

    opacity: 0!important;

    outline-offset: 0px !important;

    outline: 0px dotted var(--form--border-color) !important;

}

.copycode{

    width: 100px;

    height: 0px;

    vertical-align: middle;

    border: 0px;

    background: transparent;

    color: transparent;

}



.form-control.copycode:disabled, .form-control.copycode[readonly] {

    background-color: transparent;

    opacity: 0;

}



.wrapper{

    width: 376px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: #001e49;

    padding: 20px;

    border-radius: 10px;

    margin: 0px auto;

    margin-bottom: 15px;

}

.wrapper .card{

    width: calc(33% - 20px);

    background: transparent;

    border-radius:5px;

    display: flex;

    align-items: center;

    justify-content: space-evenly;

}



.wrapper .card .circle{

    position: relative;

    height: 70px;

    width: 70px;

    border:4px dashed #003d73;

    border-radius: 50%;

}



.card .circle .box,

.card .circle .box span{

    position: absolute;

    left:50%;

    top:50%;

}



.card .circle .box{

    height: 100%;

    width: 100%;

    transform: translate(-50%,-50%);

    border-radius: 50%;

}



.card .circle .box span{

    font-size: 29px;

    font-weight: 600;

    font-family: inherit;

    transform: translate(-50%,-50%);

    color:#de19bf;

}



.card .text{

    font-size: 12px;

    font-weight: 500;

    padding-top: 10px;

    color:#de19bf;



}





.card .circle .bar {

    animation: loading-2 1.5s linear forwards 1.8s;

    border-color: #de19bf;

}



#level-Modal-Leaderdashboard .modal-dialog{

    max-width: 1500px;

}



.level-image .progressBarUser{

    text-align: left;

    vertical-align: middle;

    margin-top: 10px;

}

.level-image .badges-point-img{

    width: 34px;

    height: auto;

    display: inline-flex;

}



.medal-person{

    text-align: left;

}

.medal-person .img-medal{

    width: 20px;

    height: auto;

    display: inline-flex;

}



#level-Modal-Leaderdashboard .pr-0{

    padding-right: 0;

}

#level-Modal-Leaderdashboard .pl-0{

    padding-left: 0;

}



.leaderboarddatacustom{

    padding-top:50px;

    padding-right: 30px;

    padding-left: 30px;

}



.bottom-medal{

    width: 32px;

    display: inline-flex;

    height: auto;

}

.botoom-profile-person .left-medal{

    width: 57px;

    height: auto;

}



.profile-lower:last-child .lower-box{

    padding-bottom: 20px;

   

}



