input[type="text"],input[type="tel"],input[type="number"],input[type="email"], input[type="password"], textarea , button, input[type="submit"],select{
    outline: none;-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;box-shadow: none;
}
select {
    background-color:transparent;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1111; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal_popup {
    display: none;
    position: absolute;
    z-index: 2147483647;
    width: 320px;
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 2px 5px 20px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,.5);
    box-shadow: 2px 5px 20px rgba(0,0,0,.5);
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.disable-me {
    background-color: rgba(255,255,255,.7);
}
.segments_section {
    display: inline-block;
    width: 100%;
}
div.disabled{
    pointer-events: none;
    border-radius: 5px;
    opacity: 0.5;
    background: #CCC;
}
.pullout_select_icon {
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: 22px;
    height: 22px;
    top: 8px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.list_item{
    background-color:white;
}
.list_item:hover{
    background-color:lightgrey;
    cursor:pointer;
}
.fieldclass{
    cursor:pointer;
    padding:30px;
}
.preview_wheel .columns {
    margin:0 auto;
}
.wheel_spinner {
    right: 6px;
    position: absolute;
    top: 50%;
    margin-top: -26px;
}
.disable-me, .wheelio_holder .loading {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.6);
}
.preview_wheel .row {
    position: relative;
    width: 100%;
}
.preview_wheel .col-6 {
    width: 50%;
    float: left;
}
.wheelio_preview {
    background-color: #49a3af;
    border-radius: 3px;
    padding: 10%;
    min-height: 450px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.wheel_preview, .wheelio_preview .theme_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}
.sp-replacer {
    padding: 0px !important;
    height: 36px;
    width: 107px;
    border: 1px solid #d3dbe2 !important;
    border-radius: 4px;
}
.sp-preview {
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
    border: 0px !important;
}
.sp-dd {
    display: none;
}
.disable-me{
    display:none;
}
.switch{
    position:relative;
    padding-left:64px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    height: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left:2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #8cc343;
}

input:focus + .slider {
    box-shadow: 0 0 1px #8cc343;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left:-6px;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/************************** Backend Design ***************************/
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.svg') format('svg'), 
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot') format('embedded-opentype'), 
        url('../fonts/Roboto-Bold.svg') format('svg'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'), 
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.svg') format('svg'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'), 
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.svg') format('svg'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.svg') format('svg'), url('../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../fonts/Poppins-SemiBold.woff') format('woff');
}
body{
    background-color: #ebeef0;
}
.title {
    font-family: 'Roboto-Bold';
    color:#495a6c;
    font-size:20px;
    margin:0px;
}
.page_p {
    font-size: 14px;
    color: #9facb9;
    font-family: 'Roboto-Regular';
    margin:0px;
}
.wheel_app {
    margin-top:56px;
    background-color: #fff;
}
.image_text {
    display: inline-block;
    width: 100%;
}
.main_sec {
    background-color: #000;
    padding: 10px 17px;
}
.timer, .enable_timer {
    display: inline-block;
    width: 100%;
}
.main_sec h2.title {
    margin-bottom: 5px;
    color: #fff;
}
.main_sec .page_p{
    color: #fff;
}
.branding .general{
    padding: 20px;
}
.general {
    display: inline-block;
    width: 100%;
    border-top: 0px;
    padding: 0;
}
label {
    color: #495a6c;
    font-size: 16px;
    font-family: 'Roboto-Regular';
    font-weight: normal;
    display: block;
    margin-bottom:7px;
}
.input_box {
    font-size: 14px;
    color: #495a6c;
    font-family: 'Roboto-Regular';
    border: 1px solid #d3dbe2;
    width: 100%;
    height: 36px;
    padding: 0px 14px;
    border-radius: 3px;
}
.form-horizontal .form-group {
    margin-right: -17px;
    margin-left: -17px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left:17px;
    padding-right:17px;
}
label.switch {
    display: inline-block;
    margin: 0px;
    line-height: 30px;
}
.page_btn {
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    background-color: #495a6c;
    padding: 9px 15px;
    border: 0px;
    border-radius: 4px;
    letter-spacing: 0.3px;
}
.form-group {
    margin-bottom: 13px;
}
.page_hr {
    border-top-color: #d3dbe2;
    margin: 17px 0px;
}
p.count_ana {
    font-size: 48px;
    line-height: 48px;
    color: #495a6c;
    font-family: 'Roboto-Bold';
    margin-bottom: 0px;
}
.analytic h4 {
    color: #495a6c;
    font-size: 16px;
    margin:2px 0px 0px;
    font-family: 'Roboto-Medium';
}
.ana_list {
    margin-left:-10px;
    margin-right:-10px;
}
.col-md-3.analytic {
    float: left;
    width: 25%;
    padding: 0px;
    padding:0px 10px;
}
.analytic_box {
    background-color:#f2f2f2;
    padding:24px 19px 23px;
}
.form-group.general_last {
    margin-top: 26px;
}
.form-group.general_last {
    margin-top: 26px;
    margin-bottom: 6px;
}
.form-group.general_last h2 {
    margin-bottom:12px;
}
.form-horizontal .control-label {
    text-align: left;
    padding:0px;
    margin-bottom:3px;
}
.big_logo {
    width:220px;
    height:85px;
}
.small_logo {
    width:85px;
    height:85px;
}
.image_logo {
    display:block;
    background-color:#f2f2f2;
    position:relative;
    margin: 11px 0px 18px;
}
.image_logo img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.upload_btn input {
    position: absolute;
    top: 0px;
    font-size: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.upload_btn {
    position:relative;
    display:inline-block;
    margin-bottom:6px;
}
span.fake_upload_btn.page_btn {
    display:inline-block;
}
.bold_text label.control-label {
    margin: 4px 0px 8px;
}
input#TitleText {
    margin-top: 12px;
}
textarea.input_box {
    height: 85px;
    padding-top: 7px;
    resize: none;
}
.form-horizontal .sub_text .control-label {
    margin: 2px 0px 7px;
}
.field_text {
    display: inline-block;
    width: 100%;
}
table.table {
    border:1px solid #d3dbe2;
    border-radius:3px;
    border-collapse:separate;
    margin-top:3px;
    margin-bottom:10px;
}
table.table tr td {
    padding: 6px 10px 6px 10px;
    color: #495a6c;
    font-size: 14px;
    font-family: Roboto-Regular;
    vertical-align: middle;
}
table.table thead tr td {
    font-size: 16px;
    font-family: Roboto-Bold;
    color: #495a6c;
    background-color: #f5f5f5;
    padding:14px 10px 14px 10px;
}
.field_text .table td input {
    color: #333;
    font-family:Roboto-Regular;
    font-size:14px;
    height:38px;
    padding:10px;
    border:1px solid #d3dbe2;
    border-radius:3px;
}
.field_text .table td:first-child{
    width:40%;
}
.field_text .table td:last-child{
    width:60%;
}
.form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.color_box label {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 8px;
}
.color_input {
    display: inline-block;
    width: 49%;
    text-align: right;
}
.color_box {
    padding:24px 0px 19px;
    border-bottom:1px solid #d3dbe2;
}
.color_box.hue_box{
    padding:4px 0px 7px;
    border:0px;
    position:relative;
}
input.form-input.right_input {
    height: 38px;
    width: 107px;
    padding: 10px;
    border: 1px solid #d3dbe2;
    border-radius: 3px;
    color: #b6bfc8;
    font-size: 14px;
    font-family: Roboto-Regular;
}
input:focus ,select:focus,textarea:focus,a:focus{
    outline:none;
}
.color_box.colorize {
    border-bottom:0px;
} 
/*.coupon table.table tr td:first-child {
   width: 10%;
}*/
/*.coupon table.table tr td:nth-child(2) {
   width: 18%;
   padding-left: 0px;
}
.coupon table.table tr td:nth-child(3) {
   width: 28.8%;
   padding-left: 0px;
}
.coupon table.table tr td:nth-child(4) {
   width: 25.3%;
   padding-left: 0px;
   position:relative;
}
.coupon table.table tr td:nth-child(5) {
   width: 15.2%;
   padding-left: 0px;
}*/
.coupon .table td select  {
    border: 0px;
    width: 100%;
    box-shadow: none;
    padding-left: 0px;
    font-size: 14px;
    color: #495a6c;
    font-family: Roboto-Regular;
}
.coupon .table tr td select.gravityclass {
    border: 1px solid #d3dbe2;
    height: 38px;
    border-radius: 3px;
    padding-left:7px;
}
select{
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 12px;
}
span.gravityperclass {
    position: absolute;
    top:9px;
    left: 35px;
}
span.gravityperclass:before {
    content: '/';
    margin-right: 3px;
}
.copon_pr {
    position: relative;
}
.coupon .table td input.page_btn {
    color: #fff;
    padding: 6px 10px;
}
select::-ms-expand {
    display:none;
}
table#tableslice {
    margin-bottom: 22px;
}
.coupon p.page_p.spin_p {
    margin-bottom: 29px;
}
.form-group.enable_timer {
    margin-top: 28px;
    margin-bottom: 24px;
}
.input_left {
    float: left;
}
.input_left input,.input_left select{ 
    width:267px;
    display:inline-block;
    margin-right:8px;
    margin-bottom:4px;
}
.input_left span,.after span,.reset_cookie span,.filter_url span {
    display:inline-block;
    font-size:16px;
    color:#495a6c;
    font-family: Roboto-Regular;
}
.input_left span{
    margin-right:32px;
}
.tab_txt h4 {
    margin:0px;
    font-family:Roboto-Bold;
    color:#495a6c;
    font-size:16px;
}
.tab_txt {
    margin-bottom: 19px;
}
.show_desk > label {
    font-family:Roboto-Bold;
    margin-bottom: 20px;
}
.col-md-6.show_desk {
    margin-top: 15px;
    margin-bottom: 13px;
}
.show_desk .col-md-12 {
    padding-left: 65px;
}
span.page_p {
    display: block;
    margin-top: -11px;
}
.desk_comp {
    margin-left: 20px;
}
label.switch.chk_btn {
    margin-top: 30px;
    float: left;
}
.after input {
    width: 100px;
    margin-right: 15px;
}
.after span {
    margin-top: 7px;
}
.time_set {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
}
.switch.show_wheel {
    font-family:Roboto-Bold;
}
.switch.show_wheel {
    font-family: Roboto-Bold;
    display: inline-block;
    width: 29.7%;
}
div#dvpulltaboption {
    width: 266px;
    display: inline-block;
}
select#pulltaboption {
    padding-left: 28px;
}
.form-group.wheel_enable {
    margin-top: 43px;
    margin-bottom: 43px;
}
.reset_cookie p{
    color:#495a6c;
    display:block;
}
input#cookiedays {
    width: 266px;
    margin-right: 13px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.form-group.reset_cookie {
    padding-top: 15px;
}
.cookie_input {
    margin: 32px 0px;
}
.reset_cookie input.page_btn {
    margin-top: 36px;
    margin-bottom:13px;
}
.filter_url h4 {
    font-size:16px;
    color:#495a6c;
    font-family:Roboto-Bold;
    margin-bottom:0px;
}
.filter_url span {
    font-size:14px;
}
.comp_body {
    width: 100%;
    margin-top: 23px;
}
/*.comp_body tr td:first-child,.comp_body tr td:nth-child(2) {
    width: 21.5%;
    padding-right: 25px;
}*/
/*.comp_body tr td:nth-child(3) {
    width: 54.5%;
}*/
.comp_body tr td:nth-child(4) {
    width: 34px;
    /*text-align:right;*/
}
.comp_body tr td {
    padding-bottom: 15px;
}
.form-group.timer {
    position: relative;
}
.del_btn {
    background-image: url(../images/cross_icon.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0px;
    display: inline-block;
    background-color: transparent;
    font-size: 0;
    vertical-align: middle;
}
input#btnAdd {
    margin-bottom: 5px;
}
.input_box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b6bfc8;
}
.input_box::-moz-placeholder { /* Firefox 19+ */
    color: #b6bfc8;
}
.input_box:-ms-input-placeholder { /* IE 10+ */
    color: #b6bfc8;
}
.input_box:-moz-placeholder { /* Firefox 18- */
    color: #b6bfc8;
}
.custom_box{
    border:1px solid #d3dbe2;
    margin-top: 24px;
    margin-bottom:8px;
}
.cust_btn {
    display: inline-block;
    width: 50%;
    text-align: right;
    line-height: inherit;
    margin-left: -4px;
}
.btn_remove.del_btn {
    padding: 0px;
}
.cust_icon {
    display: inline-block;
    width: 30px;
    text-align: left;
    vertical-align: middle;
}
.cust_icon {
    display:inline-block;
    width:30px;
    text-align:left;
    vertical-align:middle;
}
.cust_input .input_box{
    display:inline-block;
    width: -webkit-calc(100% - 34px);
    width: -moz-calc(100% - 34px);
    width: calc(100% - 34px);
    vertical-align:middle;
}
.cust_input {
    display:inline-block;
    width:50%;
    vertical-align:middle;
}
.req_field {
    padding: 25px 30px 30px;
    border-top: 1px solid #d3dbe2;
    border-bottom: 1px solid #d3dbe2;
}
.req_field table tr:first-child td:first-child {
    padding-right: 10px;
}
.req_field table tr:first-child td:last-child {
    padding-left: 10px;
}
tr#input_tr_1 label {
    margin-top: 30px;
}
.add_field {
    text-decoration: none;
    display: inline-block;
    color: #8cc343;
}
.add_field span {
    display: inline-block;
    vertical-align: middle;
}
.add_field label {
    display: inline-block;
    vertical-align: middle;
    color: #8cc343;
    margin-left:15px;
    margin-bottom:0px;
    cursor:pointer;
}
.popup_div {
    position: relative;
    padding: 30px;
    background-color: #f5f5f5;
    width: 100%;
}
.balloon_popup {
    position: absolute;
    background-color: #fff;
    bottom: -100%;
    left: 195px;
    width: 300px;
    padding: 30px;
    box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.1);
}
.balloon_popup li{
    list-style-type:none;
    display:inline-block;
    font-size:16px;
    color:#495a6c;
    font-family: Roboto-Regular;
    width:100%;
    margin-bottom:10px;
    position:relative;
    padding-left:40px;
}
.balloon_popup li:last-child {
    margin-bottom:0px;
}
ul#add_custom_field_dropdown {
    padding: 0px;
    margin:0px;
}
.list_item:hover {
    background-color: transparent;
}
.balloon_popup li span{
    position:absolute;
    left:0px;
}
.balloon_popup li span img{
    max-width:100%;
}
.arrow:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: 20px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    left: -20px;
    bottom: 105px;
}
.alert-success {
    font-size: 18px;
    color: #495a6c;
    font-family: Roboto-Regular;
    display: inline-block;
    position: fixed;
    height: 40px;
    background-color: #000;
    color: #fff;
    left: 50%;
    bottom: 0;
    text-align: center;
    -ms-transform: translateX(-50%) translateY(0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    line-height: 40px;
    padding: 0px 15px;
    border-radius: 3px;
}
.app_bottom {
    display: inline-block;
    width: 100%;
    background-color: #495a6c;
    padding: 20px 30px 10px;
    margin-bottom:-5px;
    margin-top:47px;
}
.app_left,.app_right {
    float:left;
    width:50%;
    padding-left:19px;
}
.app_bottom p.page_p {
    color: #b6bfc8;
    margin-bottom: 8px;
}
i.mobile_hdr {
    display: none;
    font-size: 16px;
    color: #495a6c;
    font-family: Roboto-Regular;
    font-style:normal;
}
.coupon .table td input.page_btn{
    width:auto;
}
.select_icon {
    position: relative;
}
.req_field.open {
    padding: 0px;
    border-bottom: 0px;
    display:none;
}
.table_emails_holder {
    max-height: 500px;
    overflow: auto;   
}
.sp_global_warning {
    z-index: 200;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    background-color: #fd518b;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    padding: 6px 30px;
    border-radius: 3px;
}
.email_left {
    float: left;
    width: 50%;
    height:66px;
}
.email_left:first-child{
    padding-right:8px;
}
.email_left:last-child{
    padding-left:8px;
}
.img_left{
    background-color:#5fbfcd;
    border-radius:4px;
}
.img_left,.img_blue {
    border-radius: 4px;
    padding: 14px 22px;
    position:relative;    
    margin-bottom: 15px;
}
.img_blue{
    background-color:#5280b4;
    border-radius:4px;
}
.email_left .login_btn {
    padding: 8px 18px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #fff;
    background-color: #495a6c;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    text-decoration: none;
    top: 16px;
}
.email_img {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 27px;
}
p.page_p.cust_text {
    font-size: 16px;
    font-family: 'Roboto-Medium';
    color: #495a6c;
    margin-bottom: 15px;
}
.email_sec button.del_btn {
    background-image: url('../images/del_icon.png');
}
.email_sec table.table tr td{
    height:44px;
}
.email_sec table.table tr td:first-child, .email_sec table.table tr td:nth-child(2) {
    width: 36px;
    padding: 0px;
    text-align: right;
}
.email_sec table.table tr td:nth-child(3) {
    width: 50.8%;
    padding-left: 25px;
    position:relative;
}
.email_sec table.table tr td:nth-child(4) {
    padding-left: 0px;
    position:relative;
}
.up_icon {
    position: absolute;
    right:14px;
    top: 17px;
}
.up_icon img {
    vertical-align: top;
    cursor: pointer;
}
.up_icon:after {
    content: '';
    height: 15px;
    width: 1px;
    background-color: #b2b2b2;
    display: inline-block;
    margin: 0px 0px 0px 9px;
}
.email_sec table.table tr td:nth-child(4) .up_icon:after{
    display:none;
}
.export_btn {
    margin: 19px 1px 5px;
}
/*Delete Popup*/
#popup_container {
    font-size: 14px;
    width: 364px;
    background: #fff;
    border: 1px solid #d3dbe2;
    color: #000000;
    display: inline-block;
    padding: 20px 10px !important;
}
#popup_message {
    text-align: center;
    color: #495a6c;
    font-size: 14px;
    font-family: Roboto-Regular;
    margin-bottom: 15px;
}
#popup_title {
    color: #495a6c;
    font-size: 18px;
    font-family: Roboto-BOld;
    margin: 0px 0px 10px;
    text-align: center;
}
div#popup_overlay {
    background-color: rgba(32,42,53,0.4) !important;
    opacity: 1 !important;
}
#popup_panel {
    text-align: center;
}
.modal_popup .modal-content {
    width: 100%;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
}
.modal_popup h2 {
    font-size: 18px;
    font-family: Roboto-Bold;
    color: #495a6c;
    margin: 0px 0px 10px;
}
.coupon .table .modal_popup input[type="text"] {
    border: 1px solid #d3dbe2;
    padding: 10px;
    margin-top: 5px;
}
.upload_img{
    height:150px;
    width:150px;
    position:relative;
    border: 1px solid #d3dbe2;
}
.upload_img img {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    max-height:100%;
    max-width:100%;
    width:auto;
    height:auto;
}
p.error_message
{
    color:red;
    font-size:12px;
    font-family:Roboto-Regular;
}
.wheel_bg {
    display: inline-block;
    height: 100%;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}
a.page_btn {
    display: inline-block;
}
a.page_btn:hover,a.page_btn:focus {
    color:#fff;
    text-decoration:none;
}
.inner-triangle {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-right: 40px solid #fff;
    border-bottom: 22px solid transparent;
}
#triangle-left {
    position: relative;
    top: -18px;
    left: 3px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 35px solid blue;
}
div#servidelist {
    display: inline-block;
}
div#servidelist img {
    padding: 6px;
    border-radius: 5px;
    float: left;
    max-height: 36px;
}
select#mailchimpListId,select#aweberlistid {
    float: left;
    width: 420px;
    margin: 0px 8px;
}
.maichimp_sec {
    float:left;
}
.change_btn{
    float:right;
}
div#dvregister {
    padding: 10px 10px 8px;
    border-radius: 3px;
}
.email_img.reg_email {
    position: relative;
}
.email_img.reg_email .balloon_popup {
    left: auto;
    right: 0px;
    top: 48px;
    bottom: auto;
    z-index: 99;
    padding: 15px;
    border-radius:4px;
}
.arrow {
    display: none;
}
span.selectservice {
    display: inline-block;
    cursor: pointer;
}
.email_img.reg_email .balloon_popup.awimage {
    background-color: #5280b4;
}
.maichimp_sec .email_left {
    float: left;
    width: auto;
    height: auto;
}
.maichimp_sec .img_blue {
    background-color: transparent;
    padding: 0px;
    display: inline-block;
    margin:0px;
}
.maichimp_sec .email_img {
    margin: 0px;
}
.maichimp_sec .img_blue img {
    max-height: 36px;
}
.maichimp_sec .email_left .login_btn {
    position: relative;
    right: auto;
    top: auto;
    padding: 10px 20px 11px;
    margin-left: 30px;
}
.email_img.reg_email .balloon_popup.mcimg {
    background-color: #5fbfcd;
}
.email_img.reg_email.aweberreg {
    background-color: #5280b4;
}
.email_img.reg_email.mailchimpreg {
    background-color: #5fbfcd;
}
.reg_email .img_left {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
.trigger {
    display: inline-block;
    width: 100%;
}
.trigger .general{
    padding: 0px;
}
/*End Delete Popup*/
/*23 jan 2018 css start*/
@font-face {
    font-family: 'work_sanslight';
    src: url('../fonts/worksans-light.eot');
    src: url('../fonts/worksans-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/worksans-light.woff') format('woff'),
        url('../fonts/worksans-light.ttf') format('truetype'),
        url('../fonts/worksans-light.svg#work_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.logo {
    padding: 87px 0px 36px;
    text-align: center;
}
/* Client Requirement 14 OCT 2021 start*/
.power_controls .main_sec, .power_controls .spin_speed{
    display:none !important;
}
.logo {
    display:none !important;
}
/* Client Requirement 14 OCT 2021 end*/

.spin_speed_select_section .main_sec{
    padding: 0px;
    background-color: transparent;
}
.spin_speed_select_section .main_sec h2{
    font-size: 36px;
    color: #434343;
    font-family: 'work_sanslight';
    text-align: center;
}
.spin_speed_select_section .power h4{
    color: #434343;
    font-size: 24px;
    font-family: 'work_sanslight';
}
.spin_speed_select_section .power {
    margin: 0px auto;
    display: table;
}
.spin_speed_select_section .spin_speed,.spin_speed_select_section .spin_now_btn{
    display: table-cell;
    vertical-align: middle;
}
.spin_type a{
    width: 33.33%;
    display: inline-block;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'work_sanslight';
    padding: 4px;
    text-decoration: none;
    background-color: #b3b3b3;
}
.spin_type a#lowspeed.lowspeed{
    background-color: #ffce4b;
}
.spin_type a#mediumspeed.mediumspeed{
    background-color: #ff974b;
}
.spin_type a#highspeed.highspeed{
    background-color: #ff4b4b;
}
.spin_now_btn a{
    display: inline-block;
    font-family: 'work_sanslight';
    color: #fff;
    font-size: 18px;
    margin-left: 0px;
    /* margin-left: 40px; */
    border-radius: 5px;
    background: rgb(30,87,153);
    background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(189,119,255,1) 0%, rgba(249,94,189,1) 100%);
    background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    padding: 10px 18px;
    text-decoration: none;
}
.spin_speed_select_section {
    padding-bottom: 30px;
}
.footer_section:before{
    content: "";
    display: inline-block;
    width: 782px;
    height: 1px;
    background-color: #dfdfdf;
    margin: 0px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.footer_section{
    font-family: 'work_sanslight';
    color: #636363;
    font-size: 18px;
    text-align: center;
    padding: 20px 0px;
    position: relative;
}
.footer_section a{
    color: #006cff;
}
.the_wheel{
    
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0px;
    /* padding: 74px 0 */
}
.wheel_inner {
    width: 434px;
    height: 434px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat
}

.spin_wheel_section {
    position: relative;
}
#spin_again .modal-content{
    text-align: center;
    background: rgb(30,87,153);
    background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(189,119,255,1) 0%, rgba(249,94,189,1) 100%);
    background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    border: 0px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* width: 100%; */
    background-color: transparent;
}
.spin_result .modal-content{
    text-align: center;
    /* background: rgb(30,87,153);
    background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(189,119,255,1) 0%, rgba(249,94,189,1) 100%);
    background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%); */
    border: 0px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
}
.spin_result.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.spin_result.modal {
    background-color: rgba(0,0,0,0.6);
}
.spin_pin {
    width: 42px;
    height: 58px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    background-image: url(../images/spin_pin.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.spin_result .modal-body{
    padding: 0px;
}

#coupon-Modal .close, #earn-points-Modal .close, #level-Modal-cong .close, #points-Modal-earn .close, #level-Modal-Leaderdashboard .close{
    top: -44px;
    right: -54px;
    background: #aeaeae !important;
    color: #000;
    border-radius: 90%;
    height: 42px;
    width: 42px;
}
#spin.spin_result button.close{
    top: 7px;
    right: -20px;
    background: #aeaeae !important;
    color: #000;
    border-radius: 90%;
    height: 42px;
    width: 42px;
}
#spin .reward-points{
    background: #eeee;
    margin-top: 5px;
    float: right;
    width: 100%;
    border-radius: 50px;
}

/*earn-points-Modal*/
#earn-points-Modal h4{
    font-weight: 700;
    text-align: center;
}
#earn-points-Modal p{
    font-size: 15.1px;
    font-weight: 670;
    text-align: center;
}
#earn-points-Modal .reward-points{
    margin-left: 116px;
}
#earn-points-Modal .rewards{
    font-size: 77px;
    font-weight: 900;
    color: #1d3557;
}
#earn-points-Modal img{
    /* float: right; */
    margin: 0 28px 37px 17px;
}

.spin_result .reward-button{
    margin-top: 5px;
    float: right;
}
.spin_result button.close {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff;
    text-shadow: none;
    position: absolute;
    top: 0;
    right: 8px;
    background: transparent!important;
}
.spin_result .close:hover, .spin_result .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: unset;
}
.spin_result p {
    color: #fff;
    font-family: 'work_sanslight';
    font-size: 24px;
}
.footer_section.footer:before {
    display: none;
}
.main_sec input.reset_btn{
    outline: none;-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;box-shadow: none;
    display: table;
    margin: 0 auto;
    outline: none;
    font-family: 'work_sanslight';
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    background: rgb(30,87,153);
    background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(189,119,255,1) 0%, rgba(249,94,189,1) 100%);
    background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(189,119,255,1) 0%,rgba(249,94,189,1) 100%);
    padding: 10px 18px;
    text-decoration: none;
    border: 0px;
}
/*23 jan 2018 css end*/
@media screen and (max-width:1600px){
    .container {padding:0px 50px;}
}
@media screen and (max-width:991px) {
    .color_box label{width:49%;}
    .container {padding:0px 25px;}
    .input_left{width:50%;}
    .after {float: left;width: 75%;}
    .input_left input, .input_left select {width: 70%;margin:0px;}
    .after input {width: 61%;margin-right: 15px;float: none;display: inline-block;}
    span.page_p{margin-top:0px;line-height:normal;}
    select#mailchimpListId ,select#aweberlistid{width:260px;}
    .footer_section:before{width: 80%;}
    .logo{padding: 57px 0px 30px;}
    .spin_speed_select_section .main_sec h2{font-size: 30px;}
    .spin_speed_select_section .power h4{font-size: 22px;}
}
@media screen and (max-width:768px){
    .wheel_app {margin-top: 30px;}
    p.count_ana{font-size:24px;line-height:24px;}
    .analytic_box {padding:14px 16px;}
    .slider {width:40px;height:20px;}
    .slider:before{height:18px;width:18px;}
    label.switch{line-height:22px;}
    .switch{padding-left:48px;}
    .preview_wheel h4 { margin: 20px 0px 10px;}
    .color_box{padding:10px 0px;}
    .wheelio_preview{min-height:320px;}
    .wheel_bg {width:320px;}
    i.mobile_hdr{display:block;position:absolute;left:20px;width:100px;}
    #tableslice thead {display: none;}
    .coupon table.table tr td:first-child,.coupon table.table tr td:nth-child(2),
    .coupon table.table tr td:nth-child(3),.coupon table.table tr td:nth-child(4),
    .coupon table.table tr td:nth-child(5){width:100%;display:block;border:0px;position: relative;padding:0px 0px 0px 150px;height:40px;}
    table#tableslice tr{border-bottom:1px solid #d3dbe2;padding:20px;display:inline-block;width:100%;}
    .coupon table.table tr:last-child{border:0px;}
    .coupon .table td select, .coupon .table td input {padding-top: 0px;}
    .input_left{width:100%;}
    .input_left:first-child{margin-bottom:15px;}
    .after{width:70%;}
    .after input{width:100%;}
    .after {width: calc(100% - 50px);width: -webkit-calc(100% - 50px);width: -moz-calc(100% - 50px);}
    .switch.show_wheel {width: 50%;vertical-align: middle;}
    div#dvpulltaboption {width: 49%;vertical-align: middle;}
    .form-group.wheel_enable {margin-top: 25px;margin-bottom: 25px;}
    .cookie_input {margin: 18px 0px;}
    .reset_cookie input.page_btn,.filter_url h4{margin-top:15px;}
    .comp_body tr td { display: inline-block;}

    /*.comp_body tr td:first-child, .comp_body tr td:nth-child(2) {width: 49%;padding-right: 0px;}*/
    .comp_body tr td:first-child{padding-right:10px;}
    .comp_body tr td:nth-child(2) {padding-left:10px;}
    .comp_body tr {border-bottom:1px solid #d3dbe2;padding: 20px 0px;display: inline-block;width: 100%;}
    .comp_body tr:last-child {border: 0px;}
    .comp_body tr:first-child{padding-top:0px;}
    .comp_body tr td:nth-child(3),.comp_body tr td:nth-child(4){padding-bottom:0px;}

    input#cookiedays{width:70%;}
    .app_left, .app_right {float: none;width: 100%;padding-left: 0px;}
    .app_bottom{margin-top:30px;}
    .email_left {float: none;width: 100%;height: auto;}
    .email_left:last-child {padding-left:0px;margin-top:10px;}
    .img_left, .img_blue {padding: 6px 22px;}
    .email_left:first-child{padding:0px;}
    .email_left .login_btn{top:7px;}
    select#mailchimpListId,select#aweberlistid {width:200px;}
    .maichimp_sec {float: none;width: 100%;text-align: center;}
    .change_btn {float: none;display: block;text-align: center;margin-top: 10px;}
    .email_img.reg_email .balloon_popup {left: 50%;top: 98px;transform: translate(-50%,0);right:auto;}
    .logo{padding: 40px 0px 20px;}
    .spin_speed_select_section .main_sec h2{font-size: 24px;}
    .spin_speed_select_section .power h4{font-size: 18px;}
    .spin_type a{font-size: 16px;}
    .footer_section{font-size: 16px;}
}
@media screen and (max-width:568px){
    .col-xs-6 {width: 100%;}
    .form-group .col-xs-6 {margin-bottom: 15px;}
    .form-group .col-xs-6:last-child{margin-bottom:0px;}
    .col-md-3.analytic {width: 50%;margin-bottom: 15px;}
    .form-group.general_last{margin-bottom:0px;}
    .preview_wheel h4,.upload_btn{margin-bottom:0px;}
    .container {padding: 0px 15px;}
    .main_sec{padding:15px;}
    .page_hr{margin:0px;}
    .form-group.bold_text{margin-top:18px;}
    .field_text .table td:first-child{padding-left: 10px;}
    .field_text .table td:last-child{padding-left:0px;}
    .field_text{margin-bottom:10px;}
    .coupon table.table tr td:first-child, .coupon table.table tr td:nth-child(2), .coupon table.table tr td:nth-child(3), .coupon table.table tr td:nth-child(4), .coupon table.table tr td:nth-child(5){padding-left:100px;}
    i.mobile_hdr{left:0px;}
    table#tableslice tr,.fieldclass,.req_field,.popup_div{padding:15px;}
    .balloon_popup{left:0px;bottom:50px;width:250px;}
    .arrow:before{display:none;}
    .cust_input{width:70%;}
    .cust_btn{width:30%;}
    .table_emails_holder table{width:600px;}
    .tab_txt {margin-bottom: 10px;}
    .modal_popup {margin-left: -128px;width: 280px;}
    #popup_container {width: 280px;min-width: auto !important;right: 0px;margin: auto !important;left:0px !important;}
    div#servidelist img{float:none;}
    select#mailchimpListId,select#aweberlistid{width:100%;margin:0px; float:none;margin-top:5px;}
    input.removeservice.page_btn {margin-top: 10px;}
    .email_img.reg_email .balloon_popup{top:136px;}
    .logo img{max-width: 200px;}
    .spin_speed_select_section .main_sec h2{font-size: 18px;}
    .spin_speed_select_section .power h4{font-size: 16px;}
    .spin_now_btn a{font-size: 16px; padding: 6px 12px;}
    .footer_section{font-size: 14px;}
}
@media screen and (max-width:480px){
    .switch.show_wheel{width:100%;margin-bottom:15px;}
    .req_field table tr:first-child td:last-child{padding-left:0px;}
    .req_field table tr:first-child td:first-child{padding-right:0px;margin-bottom: 15px;}
    .req_field table tr td {display: block;width: 100% !important;}
    .img_left img ,.img_blue img{height:25px;}
    .email_left .login_btn {top: 3px;padding: 5px 15px;right: 5px;}
    canvas#canvas{width: 100%;max-width: 434px;border-radius: 50%;}
    .the_wheel{background-size: 100%;padding: 17% 0px; position: relative;}
    .spin_wheel_section{max-width: 90%;margin: 0px auto;}
    .spin_type a{font-size: 14px;}
    .spin_speed_select_section .spin_speed, .spin_speed_select_section .spin_now_btn{display: inline-block; vertical-align: top; width: 100%;}
    .spin_speed_select_section .spin_now_btn{margin: 15px 0px 0px; text-align: center;}
    .general > div{background-size: cover!important;}
    .spin_now_btn a{margin: 0px;}
    .spin_speed_select_section .power h4{text-align: center;}
    .spin_pin {width: 32px;height: 48px;z-index: 2;}
    .wheel_inner {height: auto;width: auto;background-size: 18%}
    .spin_result p {font-size: 18px;}
}
@media screen and (max-width:400px){
    .spin_pin {width: 26px;height: 39px;}
}

/*Take a Tour Start*/
/**! hopscotch - v0.2.6
*
* Copyright 2016 LinkedIn Corp. All rights reserved.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot') format('embedded-opentype'), 
        url('../fonts/Roboto-Bold.svg') format('svg'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'), 
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.svg') format('svg'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'), 
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}
@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.fade-in-up {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}
@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0)
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.fade-in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}
@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
.fade-in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
div.hopscotch-bubble .hopscotch-nav-button {
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none!important;
    width: auto;
    padding: 0 10px;
    height: 26px;
    line-height: 28px;
    font-size: 12px;
    *zoom: 1;
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    background-color: #495a6c;
    padding: 0px 15px;
    border: 0px;
    border-radius: 4px;
    letter-spacing: 0.3px;
}
div.hopscotch-bubble .hopscotch-nav-button:hover {
    *zoom: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}
div.hopscotch-bubble .hopscotch-nav-button:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset
}
div.hopscotch-bubble .hopscotch-nav-button.next {
    border-color: #1b5480;
    color: #fff;
    margin: 0 0 0 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
    background-color: #287bbc;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#287bbc', endColorstr='#23639a');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
    background-image: -webkit-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: linear-gradient(top, #287bbc 0, #23639a 100%)
}
div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    background-color: #2672ae;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#2672ae', endColorstr='#1e4f7e');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #2672ae), color-stop(100%, #1e4f7e));
    background-image: -webkit-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: -moz-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: -o-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: linear-gradient(top, #2672ae 0, #1e4f7e 100%)
}
div.hopscotch-bubble .hopscotch-nav-button.prev {
    border-color: #a7a7a7;
    color: #444;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    background-color: #f2f2f2;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#e9e9e9');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: linear-gradient(top, #f2f2f2 0, #e9e9e9 100%)
}
div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
    background-color: #e8e8e8;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE8E8E8', endColorstr='#FFA9A9A9');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #e8e8e8), color-stop(13%, #e3e3e3), color-stop(32%, #d7d7d7), color-stop(71%, #b9b9b9), color-stop(100%, #a9a9a9));
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%)
}
div.hopscotch-bubble {
    background-color: #fff;
    border: 5px solid #000;
    border: 5px solid rgba(0, 0, 0, .5);
    color: #333;
    font-family: Helvetica, Arial;
    font-size: 13px;
    position: absolute;
    z-index: 999999;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box
}
div.hopscotch-bubble * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
div.hopscotch-bubble.animate {
    -moz-transition-property: top, left;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-property: top, left;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-property: top, left;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top, left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}
div.hopscotch-bubble.invisible {
    opacity: 0
}
div.hopscotch-bubble.hide,
div.hopscotch-bubble .hide,
div.hopscotch-bubble .hide-all {
    display: none
}
div.hopscotch-bubble h3 {
    color: #000;
    font-family: 'Roboto-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    margin: -1px 15px 0px 0;
    padding: 0;
    color:#495a6c;
}
div.hopscotch-bubble .hopscotch-bubble-container {
    padding: 15px;
    position: relative;
    text-align: left;
    -webkit-font-smoothing: antialiased
}
div.hopscotch-bubble .hopscotch-content {
    font-family: Roboto-Regular;
    font-weight: 400;
    line-height: 15px;
    margin: -5px 0 11px;
    padding-top: 8px;
    color:#495a6c;
    text-align: justify;
    text-justify: inter-word;
}
div.hopscotch-bubble .hopscotch-bubble-content {
    margin: 0 0 0 40px
}
div.hopscotch-bubble.no-number .hopscotch-bubble-content {
    margin: 0
}
div.hopscotch-bubble .hopscotch-bubble-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    color: #000;
    background: transparent url(../images/sprite-green.png) -192px -92px no-repeat;
    display: block;
    padding: 8px;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    top: 0;
    right: 0
}
div.hopscotch-bubble .hopscotch-bubble-close.hide,
div.hopscotch-bubble .hopscotch-bubble-close.hide-all {
    display: none
}
div.hopscotch-bubble .hopscotch-bubble-number {
    background: transparent url(../images/sprite-green.png) 0 0 no-repeat;
    color: #fff;
    display: block;
    float: left;
    font-size: 17px;
    font-weight: 700;
    line-height: 31px;
    padding: 0 10px 0 0;
    text-align: center;
    width: 30px;
    height: 30px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container {
    position: absolute;
    width: 34px;
    height: 34px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow,
div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow-border {
    width: 0;
    height: 0
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
    top: -22px;
    left: 10px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
    border-bottom: 17px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: relative;
    top: -10px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 17px solid #000;
    border-bottom: 17px solid rgba(0, 0, 0, .5);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
    bottom: -39px;
    left: 10px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
    border-top: 17px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: relative;
    top: -24px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 17px solid #000;
    border-top: 17px solid rgba(0, 0, 0, .5);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
    top: 10px;
    left: -22px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
    border-bottom: 17px solid transparent;
    border-right: 17px solid #fff;
    border-top: 17px solid transparent;
    position: relative;
    left: 7px;
    top: -34px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right: 17px solid #000;
    border-right: 17px solid rgba(0, 0, 0, .5);
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
    top: 10px;
    right: -39px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
    border-bottom: 17px solid transparent;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    position: relative;
    left: -7px;
    top: -34px
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
    border-left: 17px solid #000;
    border-left: 17px solid rgba(0, 0, 0, .5);
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent
}
div.hopscotch-bubble .hopscotch-actions {
    margin: 10px 0 0;
    text-align: right
}
div.hopscotch-bubble .hopscotch-bubble-container {
    width: 260px !important;
}
/*Take a Tour End*/
div#dvloading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
div#dvloading  h2 {
    font-family: 'Roboto-Regular';
    font-size:18px;
    color:#495a6c;
    margin:0px;
}


/* Sets the background image for the wheel */


/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th{
    background-color: white;
    cursor: default;
    text-align: center;
}

td.lowspeed
{
    background-color: #6fe8f0;
}

td.mediumspeed
{
    background-color: #86ef6f;
}

td.highspeed
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

.frmError
{
    color:red;
    display: none;
}